app = "squat-api-docker"
primary_region = "fra"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 8080
  force_https = true
  auto_start_machines = true
  auto_stop_machines = "stop"
  min_machines_running = 0
  processes = ["app"]

[vm]
  cpu_kind = "shared"
  cpus = 2
  memory_mb = 1024

[env]
  PORT = "8080"
  DEBUG = "1"
